h1{
   color:#ED2B00; 
}
h2{
    color: #AB2C10;
}
h3{
    color: #b41111;
}
h4{
    color: #5c0a0a;
}
h5{
    color: #992f2f;
}
h6{
    color: #ed0000c0;
}

button {
    color: #fcf8f8;
    background-color: #5c0a0a;
}

.header{
    margin-top: 30px ;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.header >*{
    display: inline-block;
    font-size: 20px;
    height: 100%;
    vertical-align: middle;
    line-height: 45px;
   
    
}
li {
    display: inline;
}
.logo{
    
    height: 100%;
    
}
.navbar{
   
    text-align: left;
    color: #0e0d0d;
    font-weight: 500;
    
}


.actions{
    
    text-align:left;
    font-size: 14px;
    
}
.actions >* {
    margin-left: 15px;
    margin-right: 15px;
}

.publish h3{
    color: #5c100a;
}

.video{
    display: flex;
    width: 75%;
    margin-left: 100px;
    margin-right: 50px;
   
}

.features{
    display: grid;
    grid-template-columns: repeat(2, 100px); 
    grid-template-rows: repeat(2, 100px);
}

article{
    background-color: #5c100a;
    margin: 10px;
    width: 40%;
    height: 50px;
}

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fdfafa;
    border: 2px solid #5c100a;
    display: flex;
    align-items: center;

}